.swiper {
  /*width: 100%;*/
  height: 50vh;
  /* 設定為1/5視窗高度 */
}

.swiper-slide img {
  width: 100%;
  /* 讓圖片寬度與滑動元素的寬度相同 */
  height: 100%;
  /* 讓圖片高度與滑動元素的高度相同 */
  object-fit: cover;
  /* 預設以覆蓋方式展示圖片 */
}